@charset "utf-8";
/* CSS Document */
body
{
	height:1000px;
	background-image:url(../image/penguin%20-%20Copy1.jpg);
	background-repeat:no-repeat;
	background-size:1350px 100%;
	background-attachment:scroll;
	background-position:center;
	position:relative;	
	
}

#key_container
{
	width:90px;
	height:90px;
	text-align:center;
	position:absolute;
	bottom:8%;
	left:50%;
	
}
